h1,
h2,
h3,
h4,
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 22px 5px;
}

.cardBox {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e2e8f0;
  box-shadow: none;
  text-decoration: none !important;
  transition: border-color 0.25s linear;
  padding: 16px;
  user-select: none;
  margin-top: 0px;
  flex-grow: 1;
  /* min-width: 40%; */
}

.cardBox p {
  color: #718096;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.cardBox h3 {
  font-weight: 500;
  color: #1a202c;
}
.flexCard {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  gap: 5px;
}

.cardBox:hover,
.cardBox:hover > h3 {
  cursor: pointer;
  border-color: #0086b3;
  color: #0086b3;
}

.navLayout{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0.5rem;
    flex-wrap: wrap-reverse
}

.nextCard{
    text-align: right;
}

.nextCard h4, .prevCard h4{
    color: #0086b3;
}
